<div>Basic Calculator</div>
<div class="TopContent">
	<input type="text" id="Calculations" />	
</div>
<div class="Operations">
	<div>
		<div class="CalcButtons"><p class="ButtonContent">1</p></div>
		<div class="CalcButtons"><p class="ButtonContent">2</p></div>
		<div class="CalcButtons"><p class="ButtonContent">3</p></div>
		<div class="CalcButtons"><p class="ButtonContent" >/</p></div>
	</div>
	<div>
		<div class="CalcButtons"><p class="ButtonContent">4</p></div>
		<div class="CalcButtons"><p class="ButtonContent">5</p></div>
		<div class="CalcButtons"><p class="ButtonContent">6</p></div>
		<div class="CalcButtons"><p class=ButtonContent>x</p></div>
	</div>
	<div>
		<div class="CalcButtons"><p class="ButtonContent">7</p></div>
		<div class="CalcButtons"><p class="ButtonContent">8</p></div>
		<div class="CalcButtons"><p class="ButtonContent">9</p></div>
		<div class="CalcButtons"><p class=ButtonContent>-</p></div>
	</div>
	<div>
		<div class="CalcButtons"><p class="ButtonContent">0</p></div>
		<div class="CalcButtons"><p class="ButtonContent">.</p></div>
		<div class="CalcButtons"><p class="ButtonContent">=</p></div>
		<div class="CalcButtons"><p class="ButtonContent">+</p></div>
	</div>
</div>