<div>Basic Calculator</div>
<div>
	<div class="CalcButtons">1</div>
	<div class="CalcButtons">2</div>
	<div class="CalcButtons">3</div>
</div>
<div>
	<div class="CalcButtons">4</div>
	<div class="CalcButtons">5</div>
	<div class="CalcButtons">6</div>
</div>
<div>
	<div class="CalcButtons">7</div>
	<div class="CalcButtons">8</div>
	<div class="CalcButtons">9</div>
</div>
<div>
	<div class="CalcButtons">0</div>
	<div class="CalcButtons">.</div>
</div>